.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background: #fee;
    padding: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    border: 1px solid var(--error-color);
}

.message-container p {
    color: var(--error-color);
    font-size: 2rem;
    text-align: center;
}

.message-container button {
    padding: 15px 30px;
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.message-container button:hover {
    box-shadow: #424e43 0 0 10px;
}