@media (min-width: 768px) {
  header h1 {
    font-size: 4rem;
  }

  .search-box {
    flex-direction: row;
  }

  .recipe-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .recipe-sections {
    grid-template-columns: 1fr 2fr;
  }

  .recipe-title-overlay h2 {
    font-size: 2.5rem;
  }
}
